.Cart{
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  width: 100%;
}
.cart-items{
  display: flex;
  flex-direction: column;
  width: 25%;
}
.shoe-type-list{
  display: flex;
  flex-direction:column;
  min-width:15%;
}

.main-section{
  display: flex;
  flex-direction: row;
  min-width: 60%;
  min-height: 100%;
}

.shoeImg{
  width:70px;
  height: 70px;
  overflow: hidden;
}
.store-type{
  display: flex;
  flex-direction: column;
  min-width: 60%;
}
